*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-primary: #028f1e;
    --color-primary-light: #039d23;
    --color-primary-dark: #015812;
}

html {
    width: 100%;
    height: 100%;
    font-size: 66.7%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: linear-gradient(to top, rgb(60, 60, 60), black);
    overflow: hidden;
}

code {
    font-family: monospace;
    background-color: rgba(0, 0, 0, .6);
    margin: 0 .25rem;
    padding: 0 .25rem;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 9px;
}

.heading {
    margin: 0;
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-primary);
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.info {
    margin: 0;
    padding: 2rem;
    text-align: center;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.selection-wrapper {
    width: 100%;
}

.selection-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.selection-group h3 {
    font-size: 2rem;
    font-weight: normal;
}

.selection-group:not(:last-of-type) {
    margin-bottom: 1rem;
}

.selection {
    display: inline-block;
    flex: 1 0;
    height: 10%;
    background-color: var(--color-primary);
    border-radius: 9px;
    padding: 1rem 2rem;
    text-align: center;
    cursor: pointer;
    transition: all .15s;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.selection:hover {
    background-color: var(--color-primary-light);
}

.selection:not(:last-child) {
    margin-right: 1rem;
}

.selection--disabled {
    background-color: #8c92ac;
}

.selection--disabled:hover {
    background-color: #99a0bc;
}

.options-input {
    border: none;
    border-bottom: 3px solid var(--color-primary);
    padding: 1rem 1rem .25rem 1rem;
    font-family: inherit;
    font-size: 2rem;
    width: 6rem;
    color: #ccc;
    background-color: unset;
    transition: all .15s;
    text-align: center;
}

.options-input:focus {
    outline: none;
    border-bottom-color: var(--color-primary-light);
}

.options-input:disabled {
    border-bottom-color: #e31c00;
}

.button {
    border: none;
    background-color: var(--color-primary);
    padding: 1.5rem 3rem;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: inherit;
    text-transform: uppercase;
    border-radius: 6px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .15s;
    margin: 3rem 0;
}

.button--small {
    padding: 1rem 3rem;
    margin: 0;
}

.button:active {
    transform: translateY(2px);
}

.button:focus {
    outline: none;
}

.button:hover {
    background-color: var(--color-primary-light);
}

.output {
    position: relative;
    width: 90%;
    min-height: 6rem;
    height: 6rem;
    padding: 1.4rem;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
}

.output__password {
    display: block;
    position: relative;
    z-index: 1;
    transition: all .15s;
    backface-visibility: hidden;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-primary);
}

.output__password:not(:last-child) {
    margin-bottom: 1.25rem;
}

.output__password:hover {
    color: var(--color-primary-light);
}

.output__password--single {
    animation: bounce .8s ease-in;
    transform: translateZ(0);
    margin-bottom: 0;
}

.output__backgroundEl {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 100%;
    color: var(--color-primary-dark);
    transform: translate(-50%, -50%);
    display: block;
    animation: fadeOut .8s ease-out;
    backface-visibility: hidden;
}

.output__copyMessage {
    position: fixed;
    bottom: 5rem;
    left: 50%;
    width: 50vw;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    padding: 2rem;
    border-radius: 6px;
    color: #fff;
    background-color: var(--color-primary-light);
    transform: translateX(-50%);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .15);
    transition: all .15s;
    z-index: 100;
}

.hidden {
    display: none;
}

.hidden--smooth {
    visibility: hidden;
    opacity: 0;
}

.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all .15s;
}

.modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    padding: 4rem;
    background-color: #181818;
    border-radius: 9px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
    animation: comeFromBottom .75s cubic-bezier(1,.02,.84,.97);
    backface-visibility: hidden;
    transform: translate3d(0,0,0) translateZ(0);
}

.modal__heading {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    color: var(--color-primary);
    text-transform: uppercase;
}

.modal__info {
    display: inline-block;
    margin: 0;
    text-align: center;
}

.modal__input {
    display: block;
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    color: var(--color-primary);
    padding: .5rem 0;
    margin: 0 auto;
    background-color: unset;
    border: none;
    border-bottom: 3px solid var(--color-primary);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transition: all .15s;
}

.modal__input:focus {
    outline: none;
    color: var(--color-primary-light);
    border-bottom-color: var(--color-primary-light);
}

.input-group {
    width: 100%;
    margin: 2rem 0;
}

@keyframes bounce {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.15);
        opacity: 1;
    }

    60% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.05);
    }

    80% {
        transform: scale(0.98);
    }

    90% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: .75;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.4);
    }
}

@keyframes comeFromBottom {
    from {
        opacity: .1;
        transform: translateY(60rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
BREAKPOINTS:
1280px = 75em
900px = 56.25em
740px = 46.25em
620px = 38.75em;
590px = 36.875em;
488px = 30.5em;
 */


@media only screen and (max-width: 75em) {
    .content {
        width: 75%;
    }
}

@media only screen and (max-height: 56.25em) {
    .content {
        height: 85%;
    }
}

@media only screen and (max-width: 46.25em) {
    .content {
        width: 95%;
    }
}

@media only screen and (max-width: 36.875em) {
    html {
        font-size: 55%;
    }

    .options-input {
        padding-bottom: 3px;
        border-bottom-width: 2px;
    }

    .selection-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .selection-group:not(:last-of-type) {
        margin-bottom: 0;
    }
    .selection {
        width: 100%;
        margin-bottom: 1rem;
    }

    .selection:not(:last-child) {
        margin-right: 0;
    }

    .modal__input {
        border-bottom-width: 2px;
    }
}

@media only screen and (max-width: 38.75em) {
    html {
        font-size: 40%;
    }
}

@media only screen and (max-height: 30.5em) {
    html {
        font-size: 30%;
    }
}